:root {
--colorPrimario: rgba(112, 180, 209, 1);
--colorSecundario: rgba(182, 206, 217, 1);
--colorLetras: rgba(44, 70, 82, 1);
--background-odd-child: #B1C9C6;
}

* {
    box-sizing: border-box;
}

a {
    cursor: pointer;
}

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: var(--colorPrimario);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 70px;
    padding: 5px 10px;

    .textoPrincipalNav {
        color: white;
    }

    .contenedorLogo {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 50px;
        img {
            height: 50px;
        }
    }

    .perfilUsuario {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        width: 250px;
        height: 60px;
        background-color: white;
        padding: 5px 10px;
        border-radius: 10px;

        .contenedorImagen {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 50px;
            height: 50px;
            border-radius: 25%;
            border: 2px solid var(--colorPrimario);
            
            img {
                width: 45px;
                border-radius: 50%;
            }
        }

        .InformacionUsuario {
            display: flex;
            align-items: flex-start;
            justify-content: center;
            flex-direction: column;
            margin-left: 10px;

            span {
                font-size: 14px;
                color: var(--colorLetras);
                font-weight: 500;
            }
        }
    }
}

nav {
    background-color: var(--colorSecundario);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 70px;
    left: 0;
    width: 100%;
    height: 70px;
    border: 1px solid var(--colorPrimario);
    z-index: 1;

    .itemMenuPrincipal {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        width: auto;
        height: 40px;
        margin: 0 10px;
        padding: 10px;
        color: var(--colorLetras);
        font-weight: 600;
        text-decoration: none;
    }

    .itemMenuPrincipal:hover {
        background-color: rgba(112, 180, 209, 0.2);
        color: var(--colorLetras);
        /* border-bottom: 3px solid var(--colorLetras); */
        box-shadow: 0 2px 2px 1px rgba(44, 70, 82, 0.2);
    }

    .itemMenuPrincipal.seleccionado {
        transition: all .5s ease-out;
        background-color: white;
        border: 3px solid var(--colorLetras);
    }
}

footer {
    background-color: var(--colorPrimario);
    border: 1px solid var(--colorPrimario);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 70px;
    font-weight: 500;
    color: var(--colorLetras);
}

.menuLateral {
    position: fixed;
    top: 140px;
    left: 0;
    width: 160px;
    height: calc(100% - 210px);
    border-right: 5px solid var(--colorPrimario);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 50px 20px;
    overflow-y: auto;

    .menuClases {
        width: auto;
        margin: 5px 0;
        padding: 10px;
        color: var(--colorLetras);
        font-weight: 600;
        text-decoration: none;
    }

    .menuClases.claseSeleccionada {
        border-bottom: 3px solid var(--colorPrimario);
    }
}
