.contenedor-principal-login {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-image: url("./assets/fondoLogin1.jpg");
    background-size: cover;
    background-position: center;
    /* -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
    transition: background-image 1s ease-in-out; */

    .contenedor-login {
        @media only screen and (max-width: 600px) {
            width: 80%;  
        }
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        width: 400px;
        height: auto;
        border: 3px solid var(--colorSecundario);
        border-radius: 25px;
        background-color: whitesmoke;

        img {
            width: 90%;
            margin-top: 20px;
        }

        .formulario-login {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;

            .titulo-login {
                width: 100%;
                text-align: center;
                color: var(--colorSecundario);
                font-size: 25px;
                font-weight: 600;
            }

            .login-container {
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                width: 80%;
                margin-top: 15px;
            }

            .olvidaste-password {
                width: 100%;
                text-align: center;
                color: var(--colorSecundario);  
                margin: 20px 0;              
            }
        }
    }
}