:root {
  --colorPrimario: rgba(182, 206, 217, 1);
  /*     --colorSecundario: rgba(182, 206, 217, 1); */
  --colorSecundario: rgba(44, 70, 82, 1);
}

/* $input-icon-color: $turquoise;
 */
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  cursor: pointer;
}

html {
  width: 100%;
  height: 100%;
}

body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

#root {
  width: 100%;
  height: 100%;
}

.content {
  width: 100%;
  height: 100%;
}